<ui-header-view></ui-header-view>
<div class="container">
    <ui-side-view></ui-side-view>
    <div class="test-content topic-box">
        <div class="row">
            <div class="headerText">
                <span class="ttspan-fill ng-binding">{{body.HeaderText}}</span>
            </div>
            <div class="html" style="padding:10px;">
                <div compile="body.ContentText" class="blog-content">

                </div>
            </div>
        </div>
    </div>
</div>
<ui-footer-view></ui-footer-view>

