<nav class="navbar navbar-fixed-top animate navbar-pc" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img alt="" src="/Content/logo.png" width="35" style="display: inline-block;margin-top: -5px;"/>PythonCloud</a>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="menu in SiteTopMenu"><a href="/#/{{menu.MenuText|lowercase}}">{{menu.MenuText}}</a></li>
        </ul>
    </div>
</nav>