<nav class="navbar navbar-fixed-top animate navbar-pc" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img alt="" src="/Content/logo.svg" width="35px" style="display: inline-block"/>PythonCloud</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/#/azure">Azure</a></li>
            <li><a href="#">AWS</a></li>
            <li><a href="#">GCP</a></li>
            <li><a href="/#/python">Python</a></li>
            <li><a href="/#/admindashboard">admindashboard</a></li>
        </ul>
    </div>
</nav>