<ui-header-view></ui-header-view>
<div class="task-bar-submenu fixed-bottom">
    <span class="task-bar-item started"><a onclick="Metro.window.show('#allFiles')">All Files</a></span>
    <span class="task-bar-item started"><a onclick="Metro.window.show('#addFiles')">Add New Files</a></span>
</div>
<div class="window-content" style="height:96vh">
    <div id="allFiles" class="p-2" data-role="window"
         data-cls-window="visible"
         data-draggable="true"
         data-width="100%"
         data-height="100%"
         data-title="All Files"
         data-close-action="hide">
        <table class="table compact striped row-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Total Files</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>10</td>
                    <td>Add More</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="addFiles" class="p-2" data-role="window"
         data-cls-window="no-visible"
         data-draggable="true"
         data-width="80%"
         data-height="80%"
         data-title="Add Files"
         data-close-action="hide"
         data-place="center">
        <div class="section" id="section-two">
            <div class="col-lg-12"> 
                <form class="inline-form">

                    <input type="text" placeholder="Title" id="Title" ng-model="Metadata.Title">

                    <select class="form-control dropdownInput" name="OcrType" ng-model="Metadata.OcrType" ng-options="OcrTypeList.Value as OcrTypeList.Name for OcrTypeList in OcrType" required>
                        <option style="display:none" value="">Select Ocr Type</option>
                    </select>
                    <select class="form-control" name="OcrType" ng-model="Metadata.LangCode" ng-options="List.ShortCode as List.LongName for List in DigitalOcrLang" required>
                        <option style="display:none" value="">Select Language</option>
                    </select>
                    <input type="checkbox" data-role="checkbox" data-caption="Auto Ocr" ng-model="Metadata.IsAutoOcr" />
                    <input type="checkbox" data-role="checkbox" data-caption="Spell Check" ng-model="Metadata.IsSpellCkeckEnable" />
                    <button type="submit" class="button success" ng-click="UploadDocuments()">Add Files</button>
                </form> 
                <section class="col-lg-12">
                    <section class="droplet" ng-class="{ uploading: interface.isUploading() }">
                        <ul class="statistics" style="display:none;">
                            <li><label>Valid:</label> {{interface.getFiles(interface.FILE_TYPES.VALID).length}}</li>
                            <li><label>Invalid:</label> {{interface.getFiles(interface.FILE_TYPES.INVALID).length}}</li>
                            <li><label>Uploaded:</label> {{interface.getFiles(interface.FILE_TYPES.UPLOADED).length}}</li>
                            <li><label>Deleted:</label> {{interface.getFiles(interface.FILE_TYPES.DELETED).length}}</li>
                            <li><label>Total:</label> {{interface.getFiles().length}}</li>
                        </ul>

                        <section class="inline-form">
                            <input type="file" value="Upload Files"
                                   ng-click="interface.uploadFiles()"
                                   ng-hide="interface.isUploading()"
                                   ng-class="{ clickable: interface.isReady() }" style="display:none" />
                            <input type="button" class="button upload-files" value="Uploading..." ng-show="interface.isUploading()" style="display:none" />
                            <droplet-upload-multiple ng-model="interface"></droplet-upload-multiple>
                        </section>

                        <droplet ng-model="interface">
                            <ul class="files">
                                <li ng-repeat="model in interface.getFiles(interface.FILE_TYPES.VALID)">
                                    <droplet-preview ng-model="model"></droplet-preview>
                                    <div class="delete" ng-click="model.deleteFile()">&times;</div>
                                    <div class="size">{{model.file.size / 1024 / 1024 | number: 1}}MB</div>
                                </li>
                            </ul>
                        </droplet>
                    </section>
                </section>
            </div>
        </div>
    </div>
</div>