.navbar-pc {
    background-color: #FFF;
    border-color: #5FB0E4;
    border-radius: 0;
    margin-bottom: 0;
    z-index: 100;
}

.container {
    width: 100%;
}

.sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
}

.sidebar-brand {
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    display: block;
    padding: 10px 15px;
}

.div-side {
    position: relative;
    height: calc(95% - 100px);
    width: 250px;
    z-index: 1;
    overflow-y: auto;
}

.custom-search-form > input, button {
    border: none !important;
    border-bottom: 1px solid #e7e7e7 !important;
    box-shadow: none !important;
    height: 34px !important;
}

.test-content {
    z-index: 1;
    position: absolute;
    margin-left: 250px;
    margin-top: 51px;
    padding: 15px;
    padding-top: 1px;
    width: 80%;
}

.nav-list li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    cursor: pointer;
    color: #9d9d9d;
}

.nav-list > li > a {
    color: #000000;
    font-size: 12px;
    padding-left: 13px !important;
}

.nav-list > li.level1 {
    border-bottom: 1px solid #e7e7e7;
}

.nav-list > li.level2 {
    padding-left: 10px;
}

.nav-list > li > a:hover {
    background-color: transparent;
}


.topic-box .box {
    background: #FFF;
    border-radius: 5px;
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    box-shadow: 0 0 6px #e7e7e7;
}

    .topic-box .box:hover {
        box-shadow: 0 0 6px #4183D7;
    }

    .topic-box .box .box-text {
        margin: 20px 0px;
        font-size: 15px;
        line-height: 30px;
    }

    .topic-box .box .box-btn a {
        text-decoration: none;
        color: #4183D7;
        font-size: 16px;
    }

.fa {
    color: #4183D7;
}

.headerText {
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    display: block;
    padding: 10px 15px;
}

/*Content css*/
.pc-content {
    padding: 0 15px 0 15px;
}

    .pc-content h1 {
        font-size: 18px;
    }
/*Panel tabs*/

.panel {
    border-radius: 0px;
}

.panel-tabs {
    position: relative;
    bottom: 27px;
    clear: both;
    border-bottom: 1px solid transparent;
}

.panel-body {
    padding: 15px;
    background-color: #f5f5f5;
}

.panel-primary > .panel-heading {
    color: #000;
    background-color: #fff;
    border-color: #337ab7;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

    .panel-tabs > li.copy {
        line-height: 38px;
        border-left: 1px solid #000;
        padding-left: 10px;
    }

    .panel-tabs > li > a {
        margin-right: 2px;
        margin-top: 4px;
        line-height: .85;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
        color: #000;
    }

        .panel-tabs > li > a:hover {
            border-color: transparent;
            color: aquamarine;
            background-color: transparent;
        }

    .panel-tabs > li.active > a,
    .panel-tabs > li.active > a:hover,
    .panel-tabs > li.active > a:focus {
        color: aquamarine;
        cursor: default;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: rgba(255,255,255, .23);
        border-bottom-color: transparent;
    }

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    border: 0px solid #ccc;
    border-radius: 0px;
}
/*Content css end*/

.blog-content {
}

.blog-content h3{
    margin:0px;
    font-size:18px;
}